<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311983818778-8k22p6396lpu4uilgd081lr8n85tbi4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311983818778-8k22p6396lpu4uilgd081lr8n85tbi4v</string>
	<key>API_KEY</key>
	<string>AIzaSyCevgauOQNo3vyL85bfquGJ2zHRzJjWmyg</string>
	<key>GCM_SENDER_ID</key>
	<string>311983818778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartParking</string>
	<key>PROJECT_ID</key>
	<string>smart-parking-e8266</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-parking-e8266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311983818778:ios:827de8992f0756e800e9a3</string>
</dict>
</plist>